# 2Captcha API Key - Lấy từ https://2captcha.com
TWO_CAPTCHA_API_KEY=your_api_key_here

# Chrome Driver Path
CHROME_DRIVER_PATH=/usr/local/bin/chromedriver

# Headless Mode (True/False)
HEADLESS_MODE=False
